* {
    box-sizing: border-box;
}

body {
    margin: 0;
}





.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu {
    margin-bottom: 3000px;
}
.menu > li {
    display: inline-block;
    position:relative;
}

.menu ul {
    display:none;
} 

.menu li:hover ul {
    display: block;
    position: absolute;
    top:100%;
    left: 0;
}

.menu a {
    display:block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    background: deeppink;
    color: yellow;
    white-space: nowrap;
    /*transition: all ease 6000ms;*/
}

.menu a:hover {
    background: black;
    /*transform: scale(2) rotate(10080deg);*/
}

.block,
h1 {
    display: block;
    background: lightcoral;
    margin: 0;
    width: 300px;
    border: 1px solid blue;
}

h1 {
    margin-bottom: 3000px;
}

.inline {
    display: inline;
    background: lightgreen;
}

.inline-block {
    display: inline-block;
    background: lightseagreen;
}